venv/
models/
lightning_logs/
__pycache__/
data/data.txt
*.csv
*.zip
unused/
publish
.DS_Store
.ipynb_checkpoints
interactive_demo.ipynb
combine.sh
convert_leipzig_data.sh
debug.ipynb
modify_data.ipynb
failed_concepts
