venv/
models/
lightning_logs/
__pycache__/

data/data.txt
en.csv
en.test.csv
en.train.csv
wiki.en.test.csv
wiki.en.test.csv

*.zip
unused/
publish
.DS_Store
.ipynb_checkpoints
interactive_demo.ipynb
combine.sh
convert_leipzig_data.sh
debug.ipynb
modify_data.ipynb
failed_concepts
