venv/
models/
lightning_logs/
__pycache__/

data/en_data
unneed

*.csv
data/vi_processed.csv
data/vi.csv
data/vi_train.csv
data/vi_test.csv

train_bart_model.sh

*.zip
data/raw
unused/
publish
.DS_Store
.ipynb_checkpoints

interactive_demo.ipynb

combine.sh
convert_leipzig_data
train_bart_model.sh

debug.ipynb
modify_data.ipynb
failed_concepts
